
.venv/
venv/
node_modules/
/frontend/node_modules/
/backend/.venv/


pycache/
*.pyc
*.pyo
*.pyd


.DS_Store          
Thumbs.db          
.vscode/           



dist/
build/
*.egg-info/
htmlcov/           


.log
/backend/data/uploads/
/backend/data/.csv 


/frontend/build
/frontend/dist
/frontend/out
.parcel-cache